In [12]:
# ШАГ 1

In [13]:
import pandas as pd

In [14]:
df = pd.read_csv('data.csv')

In [15]:
#просмотр dataframe

In [16]:
df

,children,days_employed,dob_years,education,education_id,family_status,family_status_id,gender,income_type,debt,total_income,purpose
0,1,-8437.673028,42,высшее,0.0,женат / замужем,0.0,F,сотрудник,0.0,253875.639453,покупка жилья
1,1,-4024.803754,36,среднее,1.0,женат / замужем,0.0,F,сотрудник,0.0,112080.014102,приобретение автомобиля
2,0,-5623.422610,33,Среднее,1.0,женат / замужем,0.0,M,сотрудник,0.0,145885.952297,покупка жилья
3,3,-4124.747207,32,среднее,1.0,женат / замужем,0.0,M,сотрудник,0.0,267628.550329,дополнительное образование
4,0,340266.072047,53,среднее,1.0,гражданский брак,1.0,F,пенсионер,0.0,158616.077870,сыграть свадьбу
...,...,...,...,...,...,...,...,...,...,...,...,...
13567,0,-1856.018903,40,среднее,1.0,Не женат / не замужем,4.0,M,сотрудник,0.0,261753.795486,покупка жилья для семьи
13568,1,-1236.181937,32,высшее,0.0,Не женат / не замужем,4.0,M,сотрудник,0.0,204721.388992,покупка своего жилья
13569,0,380504.332387,64,среднее,1.0,женат / замужем,0.0,M,пенсионер,1.0,221728.703458,получение образования
13570,0,-5816.465518,57,среднее,1.0,женат / замужем,0.0,F,госслужащий,0.0,151285.259155,недвижимость
13571,0,-760.477564,32,ВЫСШЕЕ,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [17]:
#Вывод первых 10 строчек датафрейма

In [18]:
df.iloc[0:10]

,children,days_employed,dob_years,education,education_id,family_status,family_status_id,gender,income_type,debt,total_income,purpose
0,1,-8437.673028,42,высшее,0.0,женат / замужем,0.0,F,сотрудник,0.0,253875.639453,покупка жилья
1,1,-4024.803754,36,среднее,1.0,женат / замужем,0.0,F,сотрудник,0.0,112080.014102,приобретение автомобиля
2,0,-5623.422610,33,Среднее,1.0,женат / замужем,0.0,M,сотрудник,0.0,145885.952297,покупка жилья
3,3,-4124.747207,32,среднее,1.0,женат / замужем,0.0,M,сотрудник,0.0,267628.550329,дополнительное образование
4,0,340266.072047,53,среднее,1.0,гражданский брак,1.0,F,пенсионер,0.0,158616.077870,сыграть свадьбу
5,0,-926.185831,27,высшее,0.0,гражданский брак,1.0,M,компаньон,0.0,255763.565419,покупка жилья
6,0,-2879.202052,43,высшее,0.0,женат / замужем,0.0,F,компаньон,0.0,240525.971920,операции с жильем
7,0,-152.779569,50,СРЕДНЕЕ,1.0,женат / замужем,0.0,M,сотрудник,0.0,135823.934197,образование
8,2,-6929.865299,35,ВЫСШЕЕ,0.0,гражданский брак,1.0,F,сотрудник,0.0,95856.832424,на проведение свадьбы
9,0,-2188.756445,41,среднее,1.0,женат / замужем,0.0,M,сотрудник,0.0,144425.938277,покупка жилья для семьи

In [19]:
#Просмотр осовной информации о датафрейме

In [20]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13572 entries, 0 to 13571
Data columns (total 12 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   children          13572 non-null  int64
 1   days_employed     12240 non-null  float64
 2   dob_years         13572 non-null  int64
 3   education         13572 non-null  object
 4   education_id      13571 non-null  float64
 5   family_status     13571 non-null  object
 6   family_status_id  13571 non-null  float64
 7   gender            13571 non-null  object
 8   income_type       13571 non-null  object
 9   debt              13571 non-null  float64
 10  total_income      12239 non-null  float64
 11  purpose           13571 non-null  object
dtypes: float64(5), int64(2), object(5)
memory usage: 1007.4+ KB

In [21]:
#ШАГ 2

In [22]:
#1.Подсчет количества пропущенных значений для каждого столбца

In [23]:
df.isnull().sum()

children               0
days_employed       1332
dob_years              0
education              0
education_id           1
family_status          1
family_status_id       1
gender                 1
income_type            1
debt                   1
total_income        1333
purpose                1
dtype: int64

In [13]:
#2.Заполнение пропусков столбца total income медианным значением
#Для этого для начала расчитаю медианное значение среди разных типов записей